<footer>
    <!--    about us-->
    <div class="contactUs">
        <h4> ارتباط با ما : 09334466054 </h4>
    </div>
    <!--    end about us-->
    <!--    logo-->
    <div class="logo-footer"> <h1></h1></div>
    <!--   End logo-->
    <!--    symbol-->
    <div class="symbol d-flex">
        <img class="p-1" src="image/ENAMAD.png" width="170" height="100">
        <img class="p-1" src="image/SAMANDEHI.png" width="170" height="100">
    </div>
    <!--    end symbol-->
</footer>